# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Environment
.env
.venv/
*.sqlite3

# Node
node_modules/
dist/
fronted/dist/

# IDE / System
.DS_Store
.idea/
.vscode/
*.iml

# Logs
*.log

# Credentials
*.pem
*.key
*.json
*.crt